#aboutHeader {
  width: 40%;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#icon {
  width: 25px;
}

#titleName {
  background-image: linear-gradient(to bottom right, #585C72, #30323D);
  font-size: 75px;
  font-family:Montserrat, sans-serif;
  font-weight: 900;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description {
  color: #585C72;
  font-size: 25px;
  max-width: 90%;
  padding: 0 15px;
}

#profile {
  background-image: linear-gradient(to bottom, #585C72, #8b1f12);
  border-radius: 100%;
  margin: 5px 20px;
  padding: 6px;
  width: 350px;
}

.image-container {
  position: relative;
}

.bold {
  font-weight: 600;
}