.indice {
  display: flex;
  justify-content: flex-end;
  padding: 40px 3%;
}

.topbar {
  color: #FFD54E;
  font-weight: 500;
  text-decoration: none;
  padding: 0 9px;
}

/* #home {
}

#about {
}

#skills {}

#portfolio {}

#contact {} */
