.indice {
  display: flex;
  justify-content: flex-end;
  padding: 40px 3%;
}

.topbar {
  color: #30323D;
  font-weight: 500;
  text-decoration: none;
  padding: 0 9px;
}

a {
  text-decoration: none;
}

/* #home {
}

#about {
}

#skills {}

#portfolio {}

#contact {} */
