/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.titulo {
  font-family:Montserrat, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  color: rgb(220, 127, 155);
  text-align: center;

}

.dadoslocais {
  font-weight: 600;
}

.indice {
  font-weight: 500;
  color: rgb(220, 127, 155);
  text-decoration: none;
  line-height: 22px;
}

#eu {
  border-radius: 100%;
  width: 250px;
  float: left;
  padding: 10px;
  background-color: white;
  margin: 10px 30px;
}

.image-container {
  height: 300px;
  position: relative;
}

.tamanhoc {
  font-size: 1.4em;
  line-height: 0px;
}

.tamanhoc2 {
  font-size: 1.4em;
  line-height: 25px;

}

body {
  font-family: Montserrat, sans-serif;
  background-color: rgb(47, 47, 47);
  color: white;
  padding: 3%;
}

ul li:nth-child(odd) {
  background-color: rgb(43, 43, 43);
  font-weight: bold;
}

#nome {
  font-size: 30px;
  position: absolute;
  top: 70px;
  left: 350px;
}

/* div {
  border: 1px solid rgb(255, 255, 255);
} */
