body {
  font-family: Montserrat, sans-serif;
  background-color: #FFDE80;
  color: white;
}

.box-title { padding-bottom: 20px; }

.box-father {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

/* tamanhoc */
.title-gradient-black {
  background-image: linear-gradient(to bottom right, #545454, #30323D);
  background-clip: text;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags-low {
  font-size: 20px;
  margin: 5px;
  padding: 25px;
}

/* tamanhoc2 */
.tags-default {
  font-size: 30px;
  margin: 5px;
  padding: 35px;
}

.box-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 85%;
}

.btn-black:hover {
  background-color: #fff;
  color: #5c80bd;
  transition: 0.4s;
}

.btn-black {
  background-color: #30323d;
  border-radius: 25px;
  color: #ffde80;
}

/* haha2 */
.box-from-left {
  width: 60%;
  height: 450px;
}

/* haha3 */
.box-end-right {
  display: flex;
  width: 30%;
  padding: 10px 30px;
  flex-wrap: wrap;
}

.bounce { animation: bounce 2s; }
@keyframes bounce {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

.fadein { animation: fadein 2s ; }
@keyframes fadein {
  from { opacity: 0.8; }
  to   { opacity: 1; }
}


@media screen and (max-width: 450px) {
  .title-gradient-black {
    padding-left: 20px!important;
  }

  .box-about {
    flex-direction: column;
    margin: 0px!important;
  }

  #about-header {
    width: 85%!important;
  }

  #title-name {
    font-size: 48px!important;
    text-align: left;
    padding-bottom: 20px!important;
  }

  #description {
    padding: 0px!important;
    padding-bottom: 20px!important;
  }

  .index {
    flex-wrap: wrap!important;
    font-size: 25px;
    justify-content: center!important;
  }

  .box-from-left {
    width: 95%!important;
    height: 100%!important;
    padding: 10px 30px;
  }

  .tags-low {
    margin: 3px;
    padding: 20px;
  }

  .box-child {
    max-width: 95%;
  }

  .box-end-right {
    width: 100%;
    padding: 10px 30px;
  }

  .box-footer {
    height: 100%!important;
  }

  .box-from-left-footer {
    justify-content: left!important;
  }

  .footer-p {
    text-align: center;
    padding: 20px 30px;
  }

  #about-header-2 {
    flex-direction: row!important;
    justify-content: center!important;
  }

  #profile {
    width: 300px!important;
  }

  .box-from-left-about {
    padding: 0px!important;
  }

  .box-title {
    padding: 10px;
  }

  .box-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-btn a {
    padding: 17px;
  }

}